<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>Vue.js</title>
    <!-- 样式代码 -->
    <style>
        body div {
            padding-left: 15px;
            margin-bottom: 15px;
        }

        #Vue-Template, #vue-Bind, #Vue-For, #Vue-Computed {
            display: none;
        }

        #app {
            font-family: 'Avenir',Helvetica,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
            margin-top: 60px;
        }

        .class1 {
            background: #444;
            color: #eee;
        }

        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
        }

            ul li {
                list-style: none;
                margin: 0px;
            }
    </style>
    <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <section id="Vue-Template">
        <div id="app">{{message}}</div>
        <div id="appHtml" v-html="message"></div>
        <div id="appCheck">
            <label for="check">修改颜色</label>
            <input id="check" type="checkbox" v-model="use" />
            <br /><br />
            <div v-bind:class="{'class1':use}">v-bind:class指令</div>
            <div :class="{'class1':use}">:class指令</div>
        </div>
        <div id="appExpress">
            {{5+5}}<br />
            {{ok?'yes':'no'}}<br />
            {{message.split('').reverse('').join('')}}
            <div v-bind:id="'list-'+ id">我的VueDemo</div>
        </div>
        <div id="appTemplate">
            <p v-if="see">你能看见我吗？</p>
            <template v-if="tempSee">
                <div>标题</div>
                <div>身体</div>
                <div>底部</div>
            </template>
        </div>
    </section>

    <section id="vue-Bind">
        <div id="appUrl">
            <a v-bind:href="url" target="_blank">打开百度</a>
            <a :href="url" target="_blank">打开百度 - 缩写</a>
        </div>
        <div id="appClick">
            <a v-on:click="doit">点击我</a>
            <a @click="doit">点击我 - 缩写</a>
        </div>
        <div id="appForm">
            {{'双向绑定\n'+ message}}<br />
            <input v-model="message" />
        </div>
        <div id="appReverse">
            <p>{{ msg }}</p>
            <button v-on:click="reverseMsg">反转字符串</button>
        </div>
        <div id="appShow">
            <div v-if="Math.random() > 0.5">
                Sorry!
            </div>
            <div v-else>
                Not Sorry!
            </div>

            <div v-if="word==='A'">
                A
            </div>
            <div v-else-if="word==='B'">
                B
            </div>
            <div v-else-if="word==='C'">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>
            <h2 v-show="ok">OK</h2>
        </div>
    </section>

    <section id="Vue-For">
        <div id="appFor">
            <ul>
                <li v-for="lesson in lessons">{{lesson.name}}</li>
            </ul>
            <ul>
                <template v-for="lesson in lessons">
                    <li>{{lesson.name}}</li>
                    <li>----------------</li>
                </template>
            </ul>
            <ul>
                <li v-for="stu in student">{{stu}}</li>
            </ul>
            <ul>
                <li v-for="(value,key) in student">{{key}}:{{value}}</li>
            </ul>
            <ul>
                <li v-for="(value,key,index) in student">{{index}}.{{key}}:{{value}}</li>
            </ul>
            <ul>
                <li v-for="num in 10">{{num}}</li>
            </ul>
        </div>
    </section>

    <section id="Vue-Computed">
        <div id="appComputed">
            <p @click="reverseMsg2">{{ reverseMsg1 }}</p>
            <p v-show="false">{{reverseMsg1}}</p>
            <p id="stuInfo"></p>
        </div>
    </section>

    <section id="Vue-Watch">
        <div id="appWatch">
            <p style="font-size:large;">计数器：{{ count }}</p>
            <button type="button" @click="count++">点击我</button>
        </div>
    </section>

    <script type="text/javascript">
        window.onload = function () {
            init();
        }

        function VueWatch() {
            var vm = new Vue({
                el: '#appWatch',
                data: {
                    count: 0
                }
            });

            vm.$watch('count', function (newValue, oldValue) {
                console.warn('计数器值的变化 :' + newValue + ' 变为 ' + oldValue + '!');
            });
        }

        function VueComputed() {
            var vm = new Vue({
                el: '#appComputed',
                data: {
                    reverseMsg1: '许你一世繁花'
                },
                computed: {
                    reverseMsg: function () {
                        return this.reverseMsg1.split('').reverse().join('');
                    },
                    studentInfo: {
                        get: function () {
                            return this.name + ' ' + this.sex + ' ' + this.age;
                        },
                        set: function (newValue) {
                            this.name = newValue.split(' ')[0];
                            this.sex = newValue.split(' ')[1];
                            this.age = newValue.split(' ')[2];
                        }
                    }
                },
                methods: {
                    reverseMsg2: function () {
                        this.reverseMsg1 = this.reverseMsg1.split('').reverse().join('');
                    }
                }
            })

            vm.studentInfo = "小明 男 18";
            document.getElementById("stuInfo").innerHTML = `姓名：${vm.name} 性别：${vm.sex}  年龄${vm.age}`;
        }

        function VueFor() {
            new Vue({
                el: '#appFor',
                data: {
                    lessons: [
                        { name: "小明" },
                        { name: "小强" },
                        { name: "小花" }
                    ],
                    student: {
                        name: '小明',
                        sex: '男',
                        age: 18,
                        address: '深圳市南山区蛇口街道后海新村10-3',
                    }
                }
            })
        }

        function VueBind() {
            new Vue({
                el: '#appUrl',
                data: {
                    url: 'http://www.baidu.com'
                }
            });
            new Vue({
                el: '#appClick',
                methods: {
                    doit: function () {//do 是关键字
                        alert('123');
                    }
                }
            });
            new Vue({
                el: '#appForm',
                data: {
                    message: 'Vue.js Demo'
                }
            });
            new Vue({
                el: '#appReverse',
                data: {
                    msg: '你是猪'
                },
                methods: {
                    reverseMsg: function () {
                        this.msg = this.msg.split('').reverse().join('');
                    }
                }
            });
            new Vue({
                el: '#appShow',
                data: {
                    word: 'D',
                    ok: true
                }
            });
        }

        function VueTemplate() {
            new Vue({
                el: '#app',
                data: {
                    message: '<h1>Hello Vue!</h1>'
                }
            });
            new Vue({
                el: '#appHtml',
                data: {
                    message: '<h1>Hello Vue!</h1>'
                }
            });
            new Vue({
                el: '#appCheck',
                data: {
                    use: false,
                }
            });
            new Vue({
                el: '#appExpress',
                data: {
                    ok: true,
                    message: "倾城我上马",
                    id: 1
                }
            });
            new Vue({
                el: '#appTemplate',
                data: {
                    see: true,
                    tempSee: true
                }
            });
        }

        function init() {
            VueTemplate();
            VueBind();
            VueFor();
            VueComputed();
            VueWatch();
        }
    </script>
</body>
</html>