<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHisService" />
                <binding name="BasicHttpBinding_IEquipmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:855/HisService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHisService" contract="HisService.IHisService"
                name="BasicHttpBinding_IHisService" />
            <endpoint address="http://localhost:855/EquipmentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipmentService"
                contract="EquipmentService.IEquipmentService" name="BasicHttpBinding_IEquipmentService" />
        </client>
    </system.serviceModel>
</configuration>